<%- model_class = Livingexpense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ID) %> </th>
      <th><%= model_class.human_attribute_name(:City) %></th>
      <th><%= model_class.human_attribute_name(:Country_name) %></th>
      <th><%= model_class.human_attribute_name(:FoodCost) %></th>
      <th><%= model_class.human_attribute_name(:AccomodationCost) %></th>
      <th><%= model_class.human_attribute_name(:TransportationCost) %></th>
      <th><%= model_class.human_attribute_name(:UserID) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @livingexpenses.each do |livingexpense| %>
      <tr>
        <td><%= link_to "View more", livingexpense_path(livingexpense) %></td>
        <td><%= livingexpense.City %></td>
        <td><%= livingexpense.Country_name %></td>
        <td><%= livingexpense.FoodCost %></td>
        <td><%= livingexpense.AccomodationCost %></td>
        <td><%= livingexpense.TransportationCost %></td>
        <% if current_user.admin? %>
        <td><%= livingexpense.UserID %></td>
        <% end %>
        <td>
        	<% if current_user.admin? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_livingexpense_path(livingexpense), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      livingexpense_path(livingexpense),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_livingexpense_path,
            :class => 'btn btn-primary' %>
